
.landing {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: 100%;
  min-height: 600px;
  padding-top: 40px;
}

.logo{
  padding-bottom: 40px
}

.about {
  font: 19px;
  font-family: Next-Regular;
  color: #ABABAB;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  max-width: 370px;
}

.apple {
  padding-bottom: 40px;
}

.phone {
  position: relative;
  bottom: 0;
  height: 300px; 
  width: auto; 
}
