
.legal {
  font-family: Next-Regular;
  color: #ABABAB;
  padding: 5% 10% 5% 10%;
}

.header {
  color: #ED3D96;
  font-size: 24px;
  font-family: Next-Heavy;
}

.subheader {
  color: #ED3D96;
  font-size: 18px;
  font-family: Next-Heavy;
}

a {
  text-decoration: none;
  color: #ED3D96;
  font-size: 14px;
  font-family: Next-Heavy;
}
