
@font-face {
  font-family: 'NextBold';
  src: url('/fonts/NextBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NextBold.woff') format('woff'),
       url('/fonts/NextBold.woff2') format('woff2'),
       url('/fonts/NextBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'NextBoldItalic';
  src: url('/fonts/NextBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NextBoldItalic.woff') format('woff'),
       url('/fonts/NextBoldItalic.woff2') format('woff2'),
       url('/fonts/NextBoldItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'NextDemiBold';
  src: url('/fonts/NextDemiBold.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NextDemiBold.woff') format('woff'),
       url('/fonts/NextDemiBold.woff2') format('woff2'),
       url('/fonts/NextDemiBold.ttf')  format('truetype');
}

@font-face {
  font-family: 'NextDemiBoldItalic';
  src: url('/fonts/NextDemiBoldItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/NextDemiBoldItalic.woff') format('woff'),
       url('/fonts/NextDemiBoldItalic.woff2') format('woff2'),
       url('/fonts/NextDemiBoldItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-Heavy';
  src: url('/fonts/Next-Heavy.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-Heavy.woff') format('woff'),
       url('/fonts/Next-Heavy.woff2') format('woff2'),
       url('/fonts/Next-Heavy.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-Heavy';
  src: url('/fonts/Next-HeavyItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-HeavyItalic.woff') format('woff'),
       url('/fonts/Next-HeavyItalic.woff2') format('woff2'),
       url('/fonts/Next-HeavyItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-Italic';
  src: url('/fonts/Next-Italic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-Italic.woff') format('woff'),
       url('/fonts/Next-Italic.woff2') format('woff2'),
       url('/fonts/Next-Italic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-Medium';
  src: url('/fonts/Next-Medium.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-Medium.woff') format('woff'),
       url('/fonts/Next-Medium.woff2') format('woff2'),
       url('/fonts/Next-Medium.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-MediumItalic';
  src: url('/fonts/Next-MediumItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-MediumItalic.woff') format('woff'),
       url('/fonts/Next-MediumItalic.woff2') format('woff2'),
       url('/fonts/Next-MediumItalic.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-Regular';
  src: url('/fonts/Next-Regular.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-Regular.woff') format('woff'),
       url('/fonts/Next-Regular.woff2') format('woff2'),
       url('/fonts/Next-Regular.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-UltraLight';
  src: url('/fonts/Next-UltraLight.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-UltraLight.woff') format('woff'),
       url('/fonts/Next-UltraLight.woff2') format('woff2'),
       url('/fonts/Next-UltraLight.ttf')  format('truetype');
}

@font-face {
  font-family: 'Next-UltraLightItalic';
  src: url('/fonts/Next-UltraLightItalic.eot?#iefix') format('embedded-opentype'),
       url('/fonts/Next-UltraLightItalic.woff') format('woff'),
       url('/fonts/Next-UltraLightItalic.woff2') format('woff2'),
       url('/fontsNext-UltraLightItalic.ttf')  format('truetype');
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: 'Next-Regular';
}

